<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    


   </head>
   
  <nav class="nav-extended grey lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">TIENDA LA ESPERANZA</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">ACERA DE</a></li>
        <li><a href="badges.html">REGISTRARSE</a></li>
        <li><a href="collapsible.html">INGRESAR</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">HISTORIA</a></li>
        <li class="tab"><a class="active" href="#test2">PRODUCTOS</a></li>
        <li class="tab disabled"><a href="#test3">UBICACION</a></li>
        <li class="tab"><a href="#test4">DESCUENTOS</a></li>
      </ul>
    </div>
  </nav>
 
  
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
  </ul>
  <div class="progress">
    <div class="indeterminate"></div>
</div>

<div class=" blue">
    <select multiple>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 45666</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>.</label>
  </div>   
    <body style="background-color:rgb(230, 230, 236) lighten-5;>
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
       </div>
       
      </div>
      <h5 text-lign="center">
     <!-- Scaled in -->
     <a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition">
    <i class="material-icons">add</i>
     </a>

  <!-- Scaled out -->
  <a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition scale-out">
    <i class="material-icons">add</i>
  </a>
  <div class="row">
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">Vegetales<span class="badge">Vegetales</span></a></li>
        <li><a href="#!">two<span class="new badge">Dulces</span></a>ganado</li>
        <li><a href="#!">three</a></li>
      </ul>
      <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Dropdown<i class="material-icons right">arrow_drop_down</i></a>
    <div class="col s4">
      <!-- Promo Content 1 goes here -->
    </div>
    <div class="col s4">
      <!-- Promo Content 2 goes here -->
    </div>
    <div class="col s4">
      <!-- Promo Content 3 goes here -->
    </div>

  </div>
      </h5>
      <table>
        <thead>
          <tr>
              <th>PRODUCTO CON DESCUENTO</th>
              <th>VALOR REAL</th>
              <th>DESCUENTO</th>
              <th>IVA</th>
              <th>DESCRIPCION</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Arroz</td>
            <td>$50.49</td>
            <td>5%</td>
            <td>12%</td>
            <td>Este producto es de calidad</td>
          </tr>
          <tr>
            <td>Balanceado</td>
            <td>$45.00</td>
            <td>3%</td>
            <td>1%</td>
            <td>Este producto contiene muchosw nutrientes para nuestros animales</td>
          </tr>
          <tr>
            <td>azucar</td>
            <td>$25.23</td>
            <td>6%</td>
            <td>0.5%</td>
            <td>Por su salud baje el consumo de este producto</td>
            
          </tr>
        </tbody>
      </table>
      <h6> somos una tienda que aborda muchos productos al mercado 100% naturales, es por ello que nosotros ponemos nuestra informacion a la pagina,ofreciendo las mejores calidad y gharantia Las tiendas pueden dedicarse a vender un producto determinado tales como ropa, comida o electrónica, o ampliar su surtido a diversos tipos de artículos. Además de las tiendas independientes que funcionan por sí mismas, existen las galerías comerciales y lugares conocidos como centros comerciales donde varias tiendas (locales comerciales) comparten un recinto cerrado.

        Particularmente tradicionales han sido en Iberoamérica y en España las «tiendas de barrio», «tienda de la esquina» o «tiendita», conocidas también como «tienda de abarrotes» o «misceláneas». En Venezuela reciben el nombre de «abasto» o «bodega». En Miami se les llama «grosería» debido al falso amigo de grocery store (no confundir con el término homónimo que significa una palabra o acción ruin o inconveniente).
        
        En países como Colombia, estos establecimientos representan más del 75% del total de las ventas de víveres y productos básicos de consumo de las comunidades.2​ En España estas tiendas tradicionales, también llamadas «tiendas de ultramarinos», representan el 13 %3​ de las ventas de alimentación y productos básicos de droguería-perfumería.
        
        Algunas tiendas ofrecen a sus clientes la posibilidad de créditos.</h6>
    </body>
</div>
<div class=" blue">
    <select multiple>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 45666</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>.</label>
  </div>   
<p></p>
<p></p>
<div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
<p></p>
<h6>

Fashion Mall o Centro de moda: De dimensiones enormes con una tienda departamental grande, así como al menos 150 locales comerciales de venta minorista, generalmente de ropa y artículos de uso personal, casi siempre climatizadas, cerradas y de varios pisos y habitualmente acompañados de cines. Por lo general no poseen supermercados.
Community Center o Centro comunitario: De uso diario, por consiguiente con supermercado. Vende artículos de uso común, variedad de productos que son de uso diario, y son visitadas por lo menos 1 vez a la semana. Son cerradas, climatizadas, de solo un piso y suelen contar con cines.
Power. 
<br>
#Center o Paseo central: Varias súper tiendas únicamente, no tienen pasillos interiores, básicamente son comercios de grandes dimensiones con gran distribución especializada.
#Town Center o Centro de pueblo: No necesariamente es un ancla de grandes dimensiones, pero sí varias chicas y con productos de uso cotidiano con muchos servicios (tintorerías, mercerías, convivencia, blancos, electrodomésticos, etc), generalmente con pasillos interiores, aunque no siempre son cerradas.
<br>
En línea: Una nueva forma de comprar que se utiliza cada vez más por la gente, y es que las comodidades de poder comprar desde su casa o puesto de trabajo sin la necesidad de desplazarse gastando gasolina y/o tiempo, está causando furor. Este tipo de centros comerciales destaca por su crecimiento estadístico de ventas en los últimos años, especialmente en países desarrollados.
#LifeStyle Center o Centro de estilo de vida: Es una variante de los centros comunitarios o de los centros de moda en los que se combinan hoteles, condominios, centro de convenciones, etc.
<br>
Strip Mall o Mini Centros Comerciales: Centros comerciales de calle, más comúnmente de servicios, sin embargo con variedad de giros y algo de ropa, ya sea de una marca en especial pero muy exclusiva, o bien de uso común, tienen solo los pasillos frontales a los locales, no son climatizadas, el estacionamiento está enfrente de cada local, hay desde 1 hasta 3 pisos, comúnmente tienen algunos de los locales destinados a oficinas.
</h6>
<p></p>
<div class="video-container">
    <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
  </div> 
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">TIENDA LA ESPERANZA</h5>
          <p class="grey-text text-lighten-4">Productos de calidad al mejor precio.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">INGRESE A </h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">https://web.whatsapp.com/</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">https://chrome.google.com/webstore?hl=es</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">chrome://favicon2/?size=24&scale_factor=1x&show_fallback_monogram=&page_url=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F%23inbox</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © TODOS LOS DERECHOS RESERVADOS DE JEAN PIERRE SAGBAY
      <a class="grey-text text-lighten-4 right" href="#!">Para mayor informacion</a>
      </div>
    </div>
  </footer> 
    
  </html>
  